.hero-section, .btn, .primary-bg{
    background: linear-gradient(to bottom, #d90647 37%, #eb402c 98%);
}
.glass-effect{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.shape-custom {
    line-height: 0;
    bottom: -260px;
}
.achivement-section{
    background-attachment: fixed;
}